    <% if notice %>
      <div class="alert alert-info text-center"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alert-warning text-center" role="alert"><%= alert %></div>
    <% end %>
