  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <h1 class="text-center">New Post</h1>
        <%= render 'form', post: @post %>

      </div>
    </div>
  </div>
