@import "bootstrap-sprockets";
@import "bootstrap";


html, body{
  min-height: 100%;
  min-height: 100vh;
}

.devise{
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  h2{
    margin-top: 0px;
  }
}

.feed-avatar{
  height: 35px;
}
